<style>
.bss-slides.num1
{
	max-width: 1140px;
	margin: auto;
}
</style>

<div class="bss-slides num1">
	<figure>
	  <img src="images/Banner1.jpg" width="100%" /><figcaption></figcaption> 
	</figure>
	<figure>
	  <img src="images/Banner2.jpg" width="100%" /><figcaption></figcaption> 
	</figure>
	<figure>
	  <img src="images/Banner3.jpg" width="100%" /><figcaption></figcaption> 
	</figure>
	<figure>
	  <img src="images/Banner4.jpg" width="100%" /><figcaption></figcaption> 
	</figure>
	<figure>
	  <img src="images/Banner5.jpg" width="100%" /><figcaption></figcaption> 
	</figure>
	<figure>
	  <img src="images/Banner6.jpg" width="100%" /><figcaption></figcaption> 
	</figure>
</div>

<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/better-simple-slideshow.min.js"></script>
<script>
var opts = {
    auto : {
        speed : 3500, 
        pauseOnHover : true
    },
    fullScreen : false
};
makeBSS('.num1', opts);
</script>