<style>
.bss-slides.num1
{
	max-width: 1140px;
	margin: auto;
}
</style>

<div class="bss-slides num1">
	<figure>
	  <img src="images/placeholder.png" width="100%" /><figcaption>"Medium" by <a href="https://www.flickr.com/photos/thomashawk/14586158819/">Thomas Hawk</a>.</figcaption> 
	</figure>
	<figure>
	  <img src="images/placeholder.png" width="100%" /><figcaption>"Colorado" by <a href="https://www.flickr.com/photos/stuckincustoms/88370744">Trey Ratcliff</a>.</figcaption> 
	</figure>
	<figure>
	  <img src="images/placeholder.png" width="100%" /><figcaption>"Early Morning at the Monte Vista Wildlife Refuge, Colorado" by <a href="https://www.flickr.com/photos/davesoldano/8572429635">Dave Soldano</a>.</figcaption> 
	</figure>
	<figure>
	  <img src="images/placeholder.png" width="100%" /><figcaption>"Sunrise in Eastern Colorado" by <a href="https://www.flickr.com/photos/35528040@N04/6673031153">Pam Morris</a>.</figcaption> 
	</figure>
	<figure>
	  <img src="images/placeholder.png" width="100%" /><figcaption>"colorado colors" by <a href="https://www.flickr.com/photos/cptspock/2857543585">Jasen Miller</a>.</figcaption> 
	</figure>
</div>

<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/better-simple-slideshow.min.js"></script>
<script>
var opts = {
    auto : {
        speed : 3500, 
        pauseOnHover : true
    },
    fullScreen : false
};
makeBSS('.num1', opts);
</script>